name: Terraform Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform

    steps:
    - uses: actions/checkout@v4

    - name: Set Terraform variables
      run: |
        echo "TF_VAR_project_id=${{ vars.GCP_PROJECT_ID }}" >> $GITHUB_ENV

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_CREDENTIALS }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.14.1"

    - name: Terraform Init
      run: terraform init

    - name: Terraform fmt
      run: terraform fmt -check

    - name: Terraform validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan
      if: github.event_name == 'pull_request'

    - name: Terraform Apply
      env:
        TF_IN_AUTOMATION: true
      run: terraform apply -auto-approve
      if: github.ref == 'refs/heads/main'