name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: "Type DESTROY to confirm Terraform destroy"
        required: true
        default: "NO"

permissions:
  contents: read
  id-token: write

jobs:
  destroy:
    if: github.event.inputs.confirm == 'DESTROY'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set Terraform variables
        run: |
          echo "TF_VAR_project_id=${{ vars.GCP_PROJECT_ID }}" >> $GITHUB_ENV

      - name: Authenticate to Google Cloud (OIDC)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ vars.GCP_WIF_PROVIDER }}
          service_account: ${{ vars.GCP_SA_EMAIL }}
          project_id: ${{ vars.GCP_PROJECT_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.1"

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        env:
          TF_IN_AUTOMATION: true
        run: terraform destroy -auto-approve
